<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Recipes</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/all" class="nav-link active">All Recipes</a>
        </div>
    </nav>

    <div class="container">
        <h1>All Recipes</h1>
        <div class="recipes-grid">
            <div class="recipe-card">
              <%for(let i=0; i < foods.length; i++){ %> 
                <div class="recipe-info">
                   <img src="<%=foods[i].imageUrl%>" alt="<% foods[i].name%>">
                   <h2><%=foods[i].name%></h2>
                    <p><%=foods[i].description%></p>
                    <a href="/dish/:id" class="view-btn">View Recipe</a>
                </div>
              <% } %>
            </div>
        </div>
    </div>
</body>
</html>


      